<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="TheWeConnectionString" connectionString="Data Source=127.0.0.1\SQLEXPRESS;Initial Catalog=TheWe;Persist Security Info=True;User ID=sa;Password=Abc12345"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--多國語系自動判斷-->
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true"/>
  </system.web>

</configuration>
