<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="TheWeConnectionString" connectionString="Data Source=60.205.146.133;Initial Catalog=TheWe_C;Persist Security Info=True;User ID=TheWe;Password=!QAZ2wsx#EDC" providerName="System.Data.SqlClient" />-->
    <add name="TheWeConnectionString" connectionString="Data Source=54.223.78.5;Initial Catalog=TheWe_C;Persist Security Info=True;User ID=sa;Password=!QAZ2wsx#EDC" providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--多國語系自動判斷-->
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" />
    <httpRuntime maxRequestLength="10240" executionTimeout="300" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <appSettings>
    <add key="ImgFolderPath" value="C:\Jason_project\TheWeWebPortal\Web\TheWeWebSite\TheWeWebSite\photo" />
    
  </appSettings>
  
</configuration>

