#header {
	width: 100%;
	background-color: #f5b8cc;   
	height: 180px;

}

#content {
    width:100%;
	height: 150px;
}

#footer {
	width: 100%;
	background-color: #362e2b;
	position: absolute;
	bottom: 20px;
	height: 3%;

}
