@charset "utf-8";
#footer {
	width: auto;
	height :20px;
	background-color: #362e2b;
	position: absolute;
	bottom: 30px;
	right: 5px;
	left: 5px;
	clear: both;
	height: 80px;
	text-align: center;
	line-height: 80px;
	visibility: visible;
}
