/* CSS Document */

<style> .month {
 border-collapse: collapse;
 table-layout:fixed;
}
.month caption {
	font-size: 14px;
	font-weight: normal;

	background: #FF0088;
	color: #FFFFFF;
	height: 30px;
	padding-top: 20px;
	padding-bottom: 15px;
}
.month caption .date {
	font-size: 150%;
	font-weight: bold;
}
.month th {
	border: 1px solid #999;
	border-bottom: none;
	padding: 3px 2px 2px;
	margin: 0;
	background-color: #FFB7DD;
	color: #333;
	height: 40px;
}
.month td {
	border: 1px solid #AAA;
	font: 10px;
	line-height: 16px;
	padding: 2px 2px;
	margin: 0;
	width: auto;
	vertical-align: top;
	width: 999px;
	height: 60px;
}
.month td.active {
	background-color: #FFC0CB;
	border: 2px solid #FF0088;
}
.month ul {
	list-style-type: none;
	margin: 3px;
	padding: 0;
}

.month li{
	font-size:12px;
}
 </style>
